body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

img {
  vertical-align: top; }

header, nav, aside, section {
  display: block; }

body {
  font-family: "noto sans kr";
  color: #fff; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 70px;
  box-sizing: border-box;
  z-index: 100; }
  #header h1 {
    font-size: 30px; }
  #header #gnb ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    #header #gnb ul li {
      margin-right: 84px;
      font-size: 20px;
      font-weight: 700; }

#intro {
  background: url("../images/1_rainbow.png"), linear-gradient(#F8BC9D, #E2C1CD);
  background-repeat: no-repeat;
  background-position: 100% 0; }
  #intro .intro {
    position: relative;
    padding-top: 200px; }
    #intro .intro .balloon {
      position: absolute; }
  #intro .intro_top {
    position: relative; }
    #intro .intro_top .hello_move .hello {
      position: absolute;
      left: 35%;
      top: 35%;
      font-size: 150px; }
    #intro .intro_top .hello_move .cloud {
      -webkit-transform: translateZ(500px);
      -moz-transform: translateZ(500px);
      -ms-transform: translateZ(500px);
      -o-transform: translateZ(500px);
      transform: translateZ(500px); }
    #intro .intro_top .balloon:nth-of-type(1) {
      left: 58%;
      top: 0%; }
    #intro .intro_top .balloon:nth-of-type(2) {
      left: 78%;
      top: 15%; }
  #intro .intro_btm {
    text-align: right;
    height: 500px; }
    #intro .intro_btm .balloon:nth-of-type(1) {
      left: 0%;
      top: -6%; }
    #intro .intro_btm .balloon:nth-of-type(2) {
      left: 40%;
      top: 0%; }

#intro .intro h2, #intro .intro .balloon {
  -webkit-transition: all 2s cubic-bezier(0, 0.71, 0.12, 1);
  transition: all 2s cubic-bezier(0, 0.71, 0.12, 1);
  opacity: 0; }
#intro .intro h2 {
  -webkit-transform: translate(-10.416vw, 0);
  -moz-transform: translate(-10.416vw, 0);
  -ms-transform: translate(-10.416vw, 0);
  -o-transform: translate(-10.416vw, 0);
  transform: translate(-10.416vw, 0);
  transition-delay: 0.9s; }
#intro .intro .balloon {
  -webkit-transform: translate(0, 10.416vw);
  -moz-transform: translate(0, 10.416vw);
  -ms-transform: translate(0, 10.416vw);
  -o-transform: translate(0, 10.416vw);
  transform: translate(0, 10.416vw); }
#intro .intro_top .balloon:first-child, #intro .intro_btm .balloon:first-child {
  transition-delay: 0.3s; }
#intro .intro_top .balloon:last-child, #intro .intro_btm .balloon:last-child {
  transition-delay: 0.6s; }
#intro .intro.fade h2, #intro .intro.fade .cloud, #intro .intro.fade .balloon {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

#about {
  position: relative;
  height: 225vh;
  background: linear-gradient(#E2C1CD, #AB9CDE); }
  #about .sticky {
    position: sticky;
    top: 0;
    height: 100vh; }
  #about .window {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 50;
    text-align: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(#E2C1CD, #AB9CDE); }
    #about .window .img_wrap {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 50%;
      width: 700px; }
    #about .window h2 {
      padding: 50px 0; }
    #about .window .birds, #about .window .angel, #about .window .cloud {
      position: absolute; }
    #about .window .birds, #about .window .cloud {
      -webkit-transition: all 1s 0.2s;
      transition: all 1s 0.2s; }
    #about .window .birds {
      left: 50%;
      top: 20%; }
    #about .window .cloud {
      left: -20%;
      top: 30%; }
    #about .window .angel {
      left: 35%;
      top: 50%; }
  #about .txt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #707070;
    background: rgba(255, 255, 255, 0.65);
    font-size: 18px;
    line-height: 1.6; }
    #about .txt > div {
      width: 50%;
      padding: 5%;
      box-sizing: border-box; }
    #about .txt .howdoithink h2 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px; }
    #about .txt .howdoithink .bold {
      font-weight: 700;
      font-size: 20px; }
    #about .txt .howdoithink p {
      padding-bottom: 20px; }
    #about .txt .character {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      position: relative; }
      #about .txt .character div strong {
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #707070; }
      #about .txt .character div p {
        width: 80%;
        padding: 20px 0;
        word-wrap: break-word; }
    #about .txt .skill {
      margin-top: 5px; }
      #about .txt .skill h3 {
        font-size: 40px;
        padding: 0 50px 10px 25px;
        display: inline-block;
        color: #cd6798c5; }
      #about .txt .skill div {
        background: rgba(226, 193, 205, 0.4);
        box-sizing: border-box;
        border-radius: 30px;
        padding: 20px;
        display: inline-block; }
        #about .txt .skill div img {
          padding: 15px; }

#about.on .window {
  width: 50%;
  height: 85vh; }
  #about.on .window .birds {
    left: 57%;
    top: 25%; }
  #about.on .window .cloud {
    left: -20%;
    top: 33%; }
#about.on .txt {
  -webkit-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
  visibility: visible;
  opacity: 1; }

#work {
  background: linear-gradient(#AB9CDE, #6D5BAB);
  background-repeat: no-repeat;
  padding-top: 300px;
  box-sizing: border-box;
  overflow: hidden; }
  #work .front_back {
    -webkit-transform: perspective(0);
    -moz-transform: perspective(0);
    -ms-transform: perspective(0);
    -o-transform: perspective(0);
    transform: perspective(0);
    position: relative;
    margin: 0 auto;
    width: 1220px; }
    #work .front_back .card {
      -webkit-transition: all 1s;
      transition: all 1s;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      z-index: 50; }
      #work .front_back .card h3 {
        font-size: 50px; }
      #work .front_back .card .open {
        border: 2px solid #fff;
        border-radius: 25px;
        padding: 10px 15px;
        margin-top: 40px; }
      #work .front_back .card .open:hover {
        background: rgba(255, 255, 255, 0.3); }
    #work .front_back .prev_next {
      position: relative;
      width: 100%;
      height: 120px;
      z-index: 70; }
      #work .front_back .prev_next button {
        position: absolute;
        top: 95%; }
      #work .front_back .prev_next .prev {
        left: 20%; }
      #work .front_back .prev_next .next {
        right: 20%; }
    #work .front_back .front {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    #work .front_back .back {
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    #work .front_back.flip .front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    #work .front_back.flip .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }
  #work > img {
    margin-left: -10px; }

#dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); }

#modalWork {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 70;
  width: calc(100% - 140px);
  height: calc(100% - 140px); }
  #modalWork .modal_wrap {
    /* margin: 70px 70px; */
    background: #F6CD85;
    height: calc(100vh - 140px);
    overflow: hidden; }
    #modalWork .modal_wrap > ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 600px;
      margin: 0 auto;
      padding: 30px 0;
      z-index: 50; }
      #modalWork .modal_wrap > ul li {
        width: 50%;
        height: 60px;
        line-height: 54px;
        border: 3px solid #fff;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer; }
      #modalWork .modal_wrap > ul li:first-child {
        border-radius: 20px 0 0 20px; }
      #modalWork .modal_wrap > ul li:last-child {
        border-radius: 0 20px 20px 0; }
      #modalWork .modal_wrap > ul li:first-child.on {
        background: #fff;
        color: #707070; }
      #modalWork .modal_wrap > ul li:last-child.on {
        background: #fff;
        color: #222; }
  #modalWork .tabpanel .md_tit {
    position: relative;
    font-size: 200px;
    letter-spacing: 5px;
    line-height: 200px;
    box-sizing: border-box;
    text-align: center; }
    #modalWork .tabpanel .md_tit img {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: translate(0, 250px) rotate(-90deg);
      -moz-transform: translate(0, 250px) rotate(-90deg);
      -ms-transform: translate(0, 250px) rotate(-90deg);
      -o-transform: translate(0, 250px) rotate(-90deg);
      transform: translate(0, 250px) rotate(-90deg);
      position: absolute; }
  #modalWork .tabpanel .move_up {
    padding: 0 50px;
    box-sizing: border-box;
    overflow: hidden; }
    #modalWork .tabpanel .move_up ul li a {
      display: block; }
      #modalWork .tabpanel .move_up ul li a img {
        max-width: 100%; }
    #modalWork .tabpanel .move_up ul li .b {
      display: inline-block;
      font-size: 2.6vw;
      font-weight: 700;
      vertical-align: top; }
    #modalWork .tabpanel .move_up ul li p {
      display: inline-block;
      padding: 40px 0;
      font-size: 18px;
      line-height: 2;
      width: 31.25vw; }
    #modalWork .tabpanel .move_up ul li .bb {
      color: #fff;
      font-size: 22px;
      font-weight: 600; }
  #modalWork #tabpanel1 > * {
    float: left;
    width: 50%; }
  #modalWork #tabpanel1 .md_tit {
    padding: 0 75px;
    text-shadow: 40px 3px 6px rgba(0, 0, 0, 0.16); }
  #modalWork #tabpanel1.on .md_tit img:nth-of-type(1) {
    -webkit-transform: translate(0, 0) rotate(-18deg);
    -moz-transform: translate(0, 0) rotate(-18deg);
    -ms-transform: translate(0, 0) rotate(-18deg);
    -o-transform: translate(0, 0) rotate(-18deg);
    transform: translate(0, 0) rotate(-18deg);
    left: 68%;
    top: 2%; }
  #modalWork #tabpanel1.on .md_tit img:nth-of-type(2) {
    -webkit-transform: translate(0, 0) rotate(16deg);
    -moz-transform: translate(0, 0) rotate(16deg);
    -ms-transform: translate(0, 0) rotate(16deg);
    -o-transform: translate(0, 0) rotate(16deg);
    transform: translate(0, 0) rotate(16deg);
    left: 19%;
    top: 53%; }
  #modalWork #tabpanel1.on .md_tit img:nth-of-type(3) {
    -webkit-transform: translate(0, 0) rotate(13deg);
    -moz-transform: translate(0, 0) rotate(13deg);
    -ms-transform: translate(0, 0) rotate(13deg);
    -o-transform: translate(0, 0) rotate(13deg);
    transform: translate(0, 0) rotate(13deg);
    left: 67%;
    top: 60%; }
  #modalWork #tabpanel1 .move_up {
    height: 75vh;
    color: #707070; }
    #modalWork #tabpanel1 .move_up ul li {
      padding-top: 50px; }
  #modalWork #tabpanel2 > * {
    float: right;
    width: 50%; }
  #modalWork #tabpanel2.on .md_tit {
    padding: 180px 0; }
    #modalWork #tabpanel2.on .md_tit img:nth-of-type(1) {
      -webkit-transform: translate(0, 0) rotate(-17deg);
      -moz-transform: translate(0, 0) rotate(-17deg);
      -ms-transform: translate(0, 0) rotate(-17deg);
      -o-transform: translate(0, 0) rotate(-17deg);
      transform: translate(0, 0) rotate(-17deg);
      left: 45%;
      top: 0%; }
    #modalWork #tabpanel2.on .md_tit img:nth-of-type(2) {
      -webkit-transform: translate(0, 0) rotate(16deg);
      -moz-transform: translate(0, 0) rotate(16deg);
      -ms-transform: translate(0, 0) rotate(16deg);
      -o-transform: translate(0, 0) rotate(16deg);
      transform: translate(0, 0) rotate(16deg);
      left: 8%;
      top: 60%; }
    #modalWork #tabpanel2.on .md_tit img:nth-of-type(3) {
      -webkit-transform: translate(0, 0) rotate(-29deg);
      -moz-transform: translate(0, 0) rotate(-29deg);
      -ms-transform: translate(0, 0) rotate(-29deg);
      -o-transform: translate(0, 0) rotate(-29deg);
      transform: translate(0, 0) rotate(-29deg);
      left: 55%;
      top: 81%; }
  #modalWork #tabpanel2 .responsive > * {
    width: 90%;
    margin: 0 50px; }
  #modalWork #tabpanel2 .responsive > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    z-index: 50; }
    #modalWork #tabpanel2 .responsive > ul li {
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      width: calc(100% / 3);
      height: 110px;
      opacity: 0.2;
      cursor: pointer;
      vertical-align: bottom;
      text-align: center; }
      #modalWork #tabpanel2 .responsive > ul li h5 {
        font-size: 20px;
        font-weight: 600; }
      #modalWork #tabpanel2 .responsive > ul li:nth-child(3) {
        padding-top: 10px; }
    #modalWork #tabpanel2 .responsive > ul li.on {
      opacity: 1; }
  #modalWork #tabpanel2 .responsive .move_up {
    height: 65vh; }
    #modalWork #tabpanel2 .responsive .move_up > div .tabpanelR > p {
      width: 450px;
      font-size: 25px;
      padding: 65px 0; }
    #modalWork #tabpanel2 .responsive .move_up > div .tabpanelR p {
      text-align: left; }
    #modalWork #tabpanel2 .responsive .move_up > div .tabpanelR ul li {
      height: 60vh;
      box-sizing: border-box; }
      #modalWork #tabpanel2 .responsive .move_up > div .tabpanelR ul li a {
        display: block; }
      #modalWork #tabpanel2 .responsive .move_up > div .tabpanelR ul li:nth-child(even) .b {
        color: #FFB301; }
      #modalWork #tabpanel2 .responsive .move_up > div .tabpanelR ul li .b_y {
        color: #FFB301;
        font-weight: 600; }
    #modalWork #tabpanel2 .responsive .move_up > div #tabpanelTb a {
      display: block; }
    #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM > p {
      padding: 150px 0; }
    #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM ul li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      align-items: flex-end; }
      #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM ul li a {
        display: inline-block; }
        #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM ul li a img {
          width: 250px; }
      #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM ul li .m_txt {
        width: 600px;
        margin-left: 30px; }
        #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM ul li .m_txt strong {
          margin-top: -30px; }
        #modalWork #tabpanel2 .responsive .move_up > div #tabpanelM ul li .m_txt p {
          padding: 0;
          display: inline-block;
          width: 70%; }
  #modalWork .close_btn {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 31px;
    height: 31px; }

#modalWork .modal_wrap.active {
  background: #222; }

#contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  background: url("../images/4_bg.png"), linear-gradient(#6D5BAB, #342C51);
  width: 100%;
  overflow: hidden;
  background-position: 0 -5%;
  background-repeat: no-repeat;
  height: 100vh; }
  #contact > * {
    float: left;
    box-sizing: border-box;
    height: 100%;
    margin-top: 200px; }
  #contact h2 {
    width: 55%;
    font-size: 150px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    padding: 150px;
    font-family: patua; }
  #contact div {
    width: 45%; }
    #contact div > div {
      height: 50%; }
    #contact div .contact_img {
      -webkit-animation: upDown 2.5s cubic-bezier(0.14, 0.47, 0.51, 1.04) infinite backwards;
      -moz-animation: upDown 2.5s cubic-bezier(0.14, 0.47, 0.51, 1.04) infinite backwards;
      animation: upDown 2.5s cubic-bezier(0.14, 0.47, 0.51, 1.04) infinite backwards;
      position: relative; }
@-webkit-keyframes upDown {}
@-moz-keyframes upDown {}
      #contact div .contact_img h2 {
        position: absolute;
        left: 40%;
        top: -24%; }
    #contact div .contact_txt {
      box-sizing: border-box;
      padding: 40px 0;
      font-size: 20px; }
      #contact div .contact_txt > * {
        background: no-repeat 3% 0%;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 100px; }
      #contact div .contact_txt .birth {
        background-image: url("../images/4_icon1.png"); }
      #contact div .contact_txt .home {
        background-image: url("../images/4_icon2.png"); }
      #contact div .contact_txt .email {
        background-image: url("../images/4_icon3.png"); }
      #contact div .contact_txt .github {
        background-image: url("../images/4_icon4.png");
        display: block; }

@keyframes upDown {
  0% {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px); }
  50% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px); } }
@media screen and (max-width: 1680px) {
  #work > img {
    margin-left: -110px; } }
@media screen and (max-width: 1440px) {
  #work > img {
    margin-left: -240px; } }

/*# sourceMappingURL=portfolio.css.map */
